{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="wrapper">
{% if app.user.username is defined %}
You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
{% endif %}
<div class="header_meta header_meta_one">
    <div class="container">
        <div class="row">            
            <nav class="meta-login">
                <ul>
                    <li><a href="{{ path('app_login') }}" class="fancybox">Zaloguj się</a></li>
                    <li><a href="{{ path('app_register') }}" class="fancybox">Zarejestruj się</a></li>
                </ul>
            </nav>
        </div> 
    </div>
</div>
</div>
{% endblock %}
